

@import "variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1rem;

  @media screen and (min-width: 768px) {
      font-size: 1.2rem;
  }
}

.calculator-body {
  margin: 10px;
  margin-inline: auto;
  width: 80%;
  height: 90vh;
  border: 1px solid black;
  background-color: $base;

  .screen {
    margin: 10px;
    margin-inline: auto;
    width: 90%;
    height: 20vh;
    border: 1px solid black;
    background-color: $screen;
  }

  .inputs {
    margin: 10px;
    margin-inline: auto;
    width: 90%;
    height: 65vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 1rem;
    background-color: $input-base;

    .buttons {
      border: 1px solid black;
      margin: 10px;
      margin-inline: auto;
      border-radius: 50%;
      width: 80%;
      background-color: $button-base;
      color: $light-text;

      @media screen and (min-width: 768px) {
          border-radius: 30%;
      }

      &__clear {
        grid-area: 1/1/2/2;
        background-color: $clear;
        color: $dark-text;
      }
      
      &__plus-minus {
        grid-area: 1/2/2/3;
        background-color: $inputs;
        color: $dark-text;
      }

      &__percent {
        grid-area: 1/3/2/4;
        background-color: $inputs;
        color: $dark-text;
      }

      &__divide {
        grid-area: 1/4/2/5;
        background-color: $inputs;
        color: $dark-text;
      }

      &__seven {
        grid-area: 2/1/3/2;
      }

      &__eight {
        grid-area: 2/2/3/3;
      }

      &__nine {
        grid-area: 2/3/3/4;
      }

      &__multiply {
        grid-area: 2/4/3/5;
        background-color: $inputs;
        color: $dark-text;
      }

      &__four {
        grid-area: 3/1/4/2;
      }
      
      &__five {
        grid-area: 3/2/4/3;
      }

      &__six {
        grid-area: 3/3/4/4;
      }

      &__minus {
        grid-area: 3/4/4/5;
        background-color: $inputs;
        color: $dark-text;
      }

      &__one {
        grid-area: 4/1/5/2;
      }

      &__two {
        grid-area: 4/2/5/3;
      }

      &__three {
        grid-area: 4/3/5/4;
      }

      &__plus {
        grid-area: 4/4/5/5;
        background-color: $inputs;
        color: $dark-text;
      }

      &__zero {
        grid-area: 5/1/6/2;
      }

      &__point {
        grid-area: 5/2/6/3;
      }

      &__back {
        grid-area: 5/3/6/4;
      }

      &__equals {
        grid-area: 5/4/6/5;
        background-color: $equals;
        color: $dark-text;
      }

    }
  }
}

// @media screen and (min-width: 768px) {
//   .buttons {
//     border-radius: 30%;
//   }
// }