* {
  padding: 0;
  margin: 0;
}

.calculator-body {
  margin: 10px;
  margin-inline: auto;
  width: 80%;
  height: 90vh;
  border: 1px solid black;

  .screen {
    margin: 10px;
    margin-inline: auto;
    width: 90%;
    height: 20vh;
    border: 1px solid black;
  }

  .inputs {
    margin: 10px;
    margin-inline: auto;
    width: 90%;
    height: 65vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    gap: 1rem;
  }
}